* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.backgroundimage {
    background: #130636;
}

.backgroundimage1 {
    background: linear-gradient(0deg, rgba(156, 76, 134, 1) 8%, rgba(25, 8, 58, 1) 27%);
}
.lg\:text-6xl {
    font-size: 3.75rem!important;
    line-height: 1!important;
}
.lg\:pt-16 {
    padding-top: 4rem;
}
p {
    line-height: 1.625;
    font-size: 20px;
}